<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <!-- <ul *ngFor="let cat of category">
        <li> {{cat.category}} <a >Delete</a></li>
      </ul> -->

      <hr>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let cat of category">
            <th scope="row">1</th>
            <td><a [routerLink]="['/category',cat.id]" routerLinkActive="router-link-active" >{{ cat.category }}</a></td>
            <td><button (click)="EditCategory()" mat-raised-button color="accent">Edit</button></td>
            <td> <button (click)="DeleteCategory()" mat-raised-button color="primary">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>